<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- properties : resource의 properties를 가져와서 쓰겠다. -->
  <properties resource="db.properties" />
  <!-- ch17.bean.User의 별칭을 user라는 형태로 쓰겠다 -->
  <typeAliases>
  	<typeAlias alias="User" type="ch17.bean.User"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}" />
        <property name="url" value="${url}" />
        <property name="username" value="${username}" />
        <property name="password" value="${password}" />
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="user.xml"/>
  </mappers>
</configuration>